body 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* 
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 2rem;
}
.grid
{
    background-color: red;
    width: 80vw;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}
.grid .row
{
    background-color: green;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.grid .col
{
    width: 3rem;
    height: 3rem;
    flex: 1 1 3rem;
    background-color: #E3F2FD;
    border: 0.1rem solid lightgray;
}
.grid .pen
{
    background-color: #64B5F6;
}

/* Typography */
.title
{
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

/* Components */
.btn
{
    margin-bottom: 2rem;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 0.5rem;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    height: 4rem;
    padding: 0 2.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
}
.btn:hover
{
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}