body 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* 
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.grid
{
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
}
.grid .row
{
    display: flex;
    flex-flow: row wrap;
}
.grid .col
{
    width: 3rem;
    height: 3rem;
    background-color: aqua;
    border: 0.15rem solid gray;
}
.grid .pen
{
    background-color: aquamarine;
}
