body 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* 
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.grid
{
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
}
.grid:hover
{
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
}
.grid .row
{
    width: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}
.grid .col
{
    width: 1rem;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #E3F2FD;
}
.grid .pen
{
    background-color: #64B5F6;
}
.group-buttons
{
    /* background-color: red; */
    display: flex;
    flex-flow: column;
}
.set-size
{
    margin-bottom: 1rem;
}
/* Typography */
.page-title
{
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 2rem;
    color: #E3F2FD;
    font-weight: 900;
}

/* Components */
.btn
{
    margin-bottom: 2rem;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 0.5rem;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    height: 4rem;
    padding: 0 2.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
}
.btn:hover
{
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.grid-size
{
    text-align: center;
}
.input-size
{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    width: 6rem;
    padding: 0.5rem 0;
}
.label-size
{
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: bolder;
}